body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
       }
        <!--layout-->
       h1 {
           text-decoration: overline green  ;
           font-family: Verdana, Geneva, Tahoma, sans-serif;
       background-color: lime;
       }
      
       p.b {  
       color: brown;
       border-bottom: 2px solid black;
       font-size: 25px;
       }
       
       